@import './styles/main';

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;

  &__heading {
    text-align: center;
    font-size: 26px;
  }

  &__filters {
    display: flex;
  }

  &__pokemons-list {
    margin-top: 20px;
  }
}
