@import './styles/main';

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  padding: 30px 25px;

  &__heading {
    text-align: center;
    font-size: 26px;
  }

  &__filters {
    display: flex;
    align-items: center;
  }

  &__pokemons-list {
    margin-top: 20px;
  }

  &__pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}
